{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/interface/scripted/cubonamok1/headerBase.png",
			"fileBody": "/interface/scripted/cubonamok1/bodyBase.png",
			"fileFooter": "/interface/scripted/cubonamok1/footerBase.png"
		},
		"fileHeader": {
			"type": "image",
			"file": "/interface/scripted/cubonamok1/header.png",
			"position": [0, 207],
			"zlevel": -50
		},
		"fileBody": {
			"type": "image",
			"file": "/interface/scripted/cubonamok1/body.png",
			"position": [0, 25],
			"zlevel": -50
		},
		"fileFooter": {
			"type": "image",
			"file": "/interface/scripted/cubonamok1/footer.png",
			"position": [0, 0],
			"zlevel": -50
		},
		"title": {
			"type": "label",
			"position": [29, 220],
			"color": [253, 253, 253],
			"value": "^shadow;Cubo Ñamok Portable"
		},
		"subtitle": {
			"type": "label",
			"position": [29, 210],
			"color": [185, 181, 178],
			"value": "^shadow;Cubo Ñamok Azul"
		},
		"iconBase": {
			"type": "image",
			"file": "/interface/scripted/cubonamok1/namokcubeblueicon.png",
			"position": [5, 211],
			"zlevel": -1
		},
		"iconOverlay": {
			"type": "image",
			"file": "/interface/scripted/cubonamok1/namokcubeblueicon.png",
			"position": [5, 211],
			"zlevel": -1
		},
		"tabs": {
      "type" : "radioGroup",
      "callback" : "changeTab",
      "zlevel" : -1,
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [3, 28],
          "baseImage" : "/interface/scripted/cubonamok1/tabBag.png",
          "baseImageChecked" : "/interface/scripted/cubonamok1/tabBagActive.png",
          "pressedOffset" : [0, 0],
          "data" : "bag"
        },
        {
          "position" : [62, 28],
          "baseImage" : "/interface/scripted/cubonamok1/tabSettings.png",
          "baseImageChecked" : "/interface/scripted/cubonamok1/tabSettingsActive.png",
          "pressedOffset" : [0, 0],
          "data" : "settings"
        }
      ]
    },
		"tabHide": {
			"type": "image",
			"zlevel": -15,
			"file": "/interface/scripted/cubonamok1/tabHide.png",
			"position": [1, 25],
			"visible": false
		},
		"contextLabel": {
			"type": "label",
			"value": "TITULO",
			"hAnchor": "mid",
			"vAnchor": "top",
			"position": [65, 187],
			"zlevel": -15,
			"visible": false
		},
		"editTitle": {
			"type": "textbox",
			"position": [39, 165],
			"hint": "Title",
			"maxWidth": 53,
			"regex": ".{0,16}",
			"escapeKey": "close",
			"visible": false
		},
		"editTitle_image": {
			"type": "image",
			"file": "/interface/scripted/cubonamok1/textbox.png",
			"position": [35, 165],
			"visible": false
		},
		"context": {
			"type": "label",
			"value": "48 SLOTS",
			"hAnchor": "mid",
			"position": [62, 197],
			"zlevel": -15
		},
		"bgShine": {
			"type": "image",
			"file": "/interface/scripted/cubonamok1/shine.png",
			"position": [0, 42],
			"zlevel": -10
		},
		"page": {
			"type": "label",
			"value": "1 / 1",
			"hAnchor": "mid",
			"fontSize": 7,
			"position": [52, 15],
			"zlevel": -15
		},
		"pageLeft": {
			"type": "button",
			"callback": "changePage",
			"base": "/interface/scripted/cubonamok1/arrow.png",
			"hover": "/interface/scripted/cubonamok1/arrow.png",
			"pressed": "/interface/scripted/cubonamok1/arrowActive.png",
			"pressedOffset": [0, -1],
			"position": [30, 13]
		},
		"pageRight": {
			"type": "button",
			"callback": "changePage",
			"base": "/interface/scripted/cubonamok1/arrow.png?flipx",
			"hover": "/interface/scripted/cubonamok1/arrow.png?flipx",
			"pressed": "/interface/scripted/cubonamok1/arrowActive.png?flipx",
			"pressedOffset": [0, -1],
			"position": [64, 13]
		},
		"settingsPage": {
			"type": "label",
			"value": "",
			"hAnchor": "mid",
			"fontSize": 7,
			"position": [62, 15],
			"zlevel": -15,
			"visible": false
		},
		"itemSlot_1_1": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [5, 176],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_1_2": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [24, 176],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_1_3": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [43, 176],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_1_4": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [62, 176],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_1_5": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [81, 176],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_1_6": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [100, 176],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_2_1": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [5, 157],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_2_2": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [24, 157],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_2_3": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [43, 157],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_2_4": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [62, 157],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_2_5": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [81, 157],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_2_6": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [100, 157],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_3_1": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [5, 138],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_3_2": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [24, 138],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_3_3": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [43, 138],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_3_4": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [62, 138],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_3_5": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [81, 138],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_3_6": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [100, 138],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_4_1": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [5, 119],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_4_2": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [24, 119],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_4_3": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [43, 119],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_4_4": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [62, 119],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_4_5": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [81, 119],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_4_6": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [100, 119],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_5_1": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [5, 100],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_5_2": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [24, 100],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_5_3": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [43, 100],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_5_4": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [62, 100],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_5_5": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [81, 100],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_5_6": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [100, 100],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_6_1": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [5, 81],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_6_2": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [24, 81],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_6_3": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [43, 81],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_6_4": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [62, 81],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_6_5": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [81, 81],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_6_6": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [100, 81],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_7_1": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [5, 62],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_7_2": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [24, 62],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_7_3": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [43, 62],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_7_4": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [62, 62],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_7_5": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [81, 62],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_7_6": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [100, 62],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_8_1": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [5, 43],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_8_2": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [24, 43],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_8_3": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [43, 43],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_8_4": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [62, 43],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_8_5": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [81, 43],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_8_6": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [100, 43],
			"backingImage": "/interface/inventory/empty.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"pressedOffset": [0, 0],
			"position": [108, 213]
		},
		"data": {
			"type": "label",
			"position": [0, 0],
			"data": "",
			"value": "## NOT FOR DISPLAY ##",
			"visible": false,
			"mouseTransparent": true
		}
	},

	"scriptWidgetCallbacks": [
		"none",
		"changeTab",
		"changePage",
		"changeSettingsPage",
		"editTitle",
		"leftClickSlot",
		"rightClickSlot",
		"upgrade"
	],

	"scripts": ["/interface/scripted/cubonamok1/applestorage.lua"],
	"scriptDelta": 1
}
