{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/cubonamok1/header.png",
      "fileBody" : "/interface/cubonamok1/body.png",
      "fileFooter" : "/interface/cubonamok1/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [188, 8]
    }
  },

  "scripts" : [
    "/interface/cubonamok1/cubonamok1InterfacePane.lua"
  ],
  "scriptDelta" : 1
}
