{
  "craftingSound" : "/sfx/interface/crafting_furnace.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/campfire_header.png",
      "fileBody" : "/objects/crafting/bandejadecultivo1/bandejadecultivo1_body.png",
      "fileFooter" : "/interface/objectcrafting/campfire_footer.png"
    },
    "clear" : {
      "type" : "button",
      "position" : [42, 36],
      "base" : "/interface/objectcrafting/refine.png",
      "hover" : "/interface/objectcrafting/refineover.png",
      "caption" : "Take All"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [10, 58],
      "dimensions" : [1, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/grayborder.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [123, 149]
    },
    "lblText" : {
      "type" : "label",
      "position" : [70, 132],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;Automatiza tu producción."
      },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 3,
      "position" : [50, 58],
      "dimensions" : [4, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [33, 80],
      "file" : "/interface/objectcrafting/arrow.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/campfire_shine.png",
      "position" : [-20, 20]
    }
  },

  "scriptWidgetCallbacks": [
    "onTakeAllPressed"
  ],

	"scripts": ["/objects/crafting/bandejadecultivo1/bandejadecultivo1.lua"],
  "scriptDelta" : 1
}
