{
  "type" : "container",
  "craftingSound" : "/sfx/objects/sawblade_touched.ogg",

  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/objects/crafting/granjamooshi/granjamooshi_header.png",
      "fileBody" : "/objects/crafting/granjamooshi/granjamooshi_body.png",
      "fileFooter" : "/objects/crafting/granjamooshi/granjamooshi_footer.png"
    },
    "clear" : {
      "type" : "button",
      "position" : [62, 36],
      "base" : "/interface/objectcrafting/refine.png",
      "hover" : "/interface/objectcrafting/refineover.png",
      "caption" : "Take All"
    },
    
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [10, 69],
      "dimensions" : [4, 4],
      "spacing" : [21, 31],
      "backingImage" : "/interface/inventory/grayborder.png"
    },

    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [162, 136]
    },

    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 16,
      "position" : [111, 59],
      "dimensions" : [4, 6],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },

    
    "timerProduction" : {
      "type" : "label",
      "position" : [47, 89],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;0:00"
    },

    "timerA" : {
      "type" : "label",
      "position" : [19, 58],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;0:00"
    },

    "timerB" : {
      "type" : "label",
      "position" : [38, 58],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;0:00"
    },

    "timerC" : {
      "type" : "label",
      "position" : [57, 58],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;0:00"
    },

    "timerD" : {
      "type" : "label",
      "position" : [76, 58],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;0:00"
    },

    "timerE" : {
      "type" : "label",
      "position" : [76, 58],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;0:00"
    },

    "timerF" : {
      "type" : "label",
      "position" : [76, 58],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;0:00"
    },

    "timerG" : {
      "type" : "label",
      "position" : [76, 58],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;0:00"
    },

    "timerH" : {
      "type" : "label",
      "position" : [76, 58],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;0:00"
    },

    "timerI" : {
      "type" : "label",
      "position" : [76, 58],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;0:00"
    },

    "timerJ" : {
      "type" : "label",
      "position" : [76, 58],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;0:00"
    },

    "timerK" : {
      "type" : "label",
      "position" : [76, 58],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;0:00"
    },

    "timerL" : {
      "type" : "label",
      "position" : [76, 58],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;0:00"
    },

    "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/campfire_shine.png",
      "position" : [-20, 140]
    }
  },

  "scriptWidgetCallbacks": [
    "onTakeAllPressed"
  ],
  
  "scripts" : ["/objects/crafting/granjamooshi/granjamooshigui.lua"],
  "scriptDelta" : 5

}
