{
  "craftingSound" : "/sfx/objects/sawblade_touched.ogg",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/objects/crafting/mesadecarnicero/mesadecarnicero_header.png",
      "fileBody" : "/objects/crafting/mesadecarnicero/mesadecarnicero_body.png",
      "fileFooter" : "/objects/crafting/mesadecarnicero/mesadecarnicero_footer.png"
    },
    "clear" : {
      "type" : "button",
      "position" : [42, 36],
      "base" : "/interface/objectcrafting/refine.png",
      "hover" : "/interface/objectcrafting/refineover.png",
      "caption" : "Take All"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [20, 77],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [123, 149]
    },
    "lblText" : {
      "type" : "label",
      "position" : [68, 126],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;Procesar animales"
      },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 1,
      "position" : [64, 58],
      "dimensions" : [3, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "pointer" : {
      "type" : "image",
      "position" : [45, 80],
      "file" : "/interface/objectcrafting/arrow.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/campfire_shine.png",
      "position" : [-20, 20]
    }
  },

  "scriptWidgetCallbacks": [
    "onTakeAllPressed"
  ],

	"scripts": ["/objects/crafting/mesadecarnicero/mesadecarnicero.lua"],
  "scriptDelta" : 1
}
