{
	"gui": {
		"background": {
			"type": "background",
			"fileHeader": "/interface/scripted/applestorage/headerBase.png",
			"fileBody": "/interface/scripted/applestorage/bodyBase.png",
			"fileFooter": "/interface/scripted/applestorage/footerBase.png"
		},
		"fileHeader": {
			"type": "image",
			"file": "/interface/scripted/applestorage/header.png",
			"position": [0, 150],
			"zlevel": -50
		},
		"fileBody": {
			"type": "image",
			"file": "/interface/scripted/applestorage/body.png",
			"position": [0, 25],
			"zlevel": -50
		},
		"fileFooter": {
			"type": "image",
			"file": "/interface/scripted/applestorage/footer.png",
			"position": [0, 0],
			"zlevel": -50
		},
		"title": {
			"type": "label",
			"position": [29, 163],
			"color": [253, 253, 253],
			"value": "^shadow;Backpack"
		},
		"subtitle": {
			"type": "label",
			"position": [29, 153],
			"color": [185, 181, 178],
			"value": "^shadow;Storage"
		},
		"iconBase": {
			"type": "image",
			"file": "/assetMissing.png",
			"position": [7, 154],
			"zlevel": -1
		},
		"iconOverlay": {
			"type": "image",
			"file": "/assetMissing.png",
			"position": [7, 154],
			"zlevel": -1
		},
		"tabs": {
      "type" : "radioGroup",
      "callback" : "changeTab",
      "zlevel" : -1,
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [3, 28],
          "baseImage" : "/interface/scripted/applestorage/tabBag.png",
          "baseImageChecked" : "/interface/scripted/applestorage/tabBagActive.png",
          "pressedOffset" : [0, 0],
          "data" : "bag"
        },
        {
          "position" : [36, 28],
          "baseImage" : "/interface/scripted/applestorage/tabLock.png",
          "baseImageChecked" : "/interface/scripted/applestorage/tabLockActive.png",
          "pressedOffset" : [0, 0],
          "data" : "lock"
        },
        {
          "position" : [69, 28],
          "baseImage" : "/interface/scripted/applestorage/tabSettings.png",
          "baseImageChecked" : "/interface/scripted/applestorage/tabSettingsActive.png",
          "pressedOffset" : [0, 0],
          "data" : "settings"
        }
      ]
    },
		"tabHide": {
			"type": "image",
			"zlevel": -15,
			"file": "/interface/scripted/applestorage/tabHide.png",
			"position": [1, 25],
			"visible": false
		},
		"contextLabel": {
			"type": "label",
			"value": "APPEARANCE",
			"hAnchor": "mid",
			"vAnchor": "top",
			"position": [52, 131],
			"zlevel": -15,
			"visible": false
		},
		"editTitle": {
			"type": "textbox",
			"position": [27, 114],
			"hint": "Title",
			"maxWidth": 53,
			"regex": ".{0,16}",
			"escapeKey": "close",
			"visible": false
		},
		"editTitle_image": {
			"type": "image",
			"file": "/interface/scripted/applestorage/textbox.png",
			"position": [23, 114],
			"visible": false
		},
		"editSubtitle": {
			"type": "textbox",
			"position": [27, 104],
			"hint": "Subtitle",
			"maxWidth": 53,
			"regex": ".{0,16}",
			"escapeKey": "close",
			"visible": false
		},
		"editSubtitle_image": {
			"type": "image",
			"file": "/interface/scripted/applestorage/textbox.png",
			"position": [23, 104],
			"visible": false
		},
		"editRedText": {
			"type": "textbox",
			"position": [26, 85],
			"maxWidth": 14,
			"fontSize": 7,
			"color":"#ff4444",
			"regex": "[0-9]{0,4}",
			"escapeKey": "close",
			"visible": false
		},
		"editRedText_image": {
			"type": "image",
			"file": "/interface/scripted/applestorage/textboxSmall.png",
			"position": [23, 84],
			"zlevel": -1,
			"visible": false
		},
		"editGreenText": {
			"type": "textbox",
			"position": [46, 85],
			"maxWidth": 14,
			"fontSize": 7,
			"color":"#44ff44",
			"regex": "[0-9]{0,4}",
			"escapeKey": "close",
			"visible": false
		},
		"editGreenText_image": {
			"type": "image",
			"file": "/interface/scripted/applestorage/textboxSmall.png",
			"position": [43, 84],
			"zlevel": -1,
			"visible": false
		},
		"editBlueText": {
			"type": "textbox",
			"position": [66, 85],
			"maxWidth": 14,
			"fontSize": 7,
			"color":"#4444ff",
			"regex": "[0-9]{0,4}",
			"escapeKey": "close",
			"visible": false
		},
		"editBlueText_image": {
			"type": "image",
			"file": "/interface/scripted/applestorage/textboxSmall.png",
			"position": [63, 84],
			"zlevel": -1,
			"visible": false
		},
		"editRed": {
			"type": "slider",
			"position": [27, 74],
			"gridImage": "/interface/scripted/applestorage/sliderRed.png",
			"jogImages": {
				"baseImage": "/interface/scripted/applestorage/sliderJog.png",
				"hoverImage": "/interface/scripted/applestorage/sliderJog.png",
				"pressedImage": "/interface/scripted/applestorage/sliderJog.png",
				"disabledImage": "/assetmissing.png"
			},
			"showSpinner": false,
			"callback": "editRed",
			"visible": false
		},
		"editRed_image": {
			"type": "image",
			"file": "/interface/scripted/applestorage/sliderBorder.png",
			"position": [23, 74],
			"zlevel": -1,
			"visible": false
		},
		"editRed_image_end": {
			"type": "image",
			"file": "/interface/scripted/applestorage/sliderRedEnd.png",
			"position": [23, 74],
			"zlevel": -1,
			"visible": false
		},
		"editGreen": {
			"type": "slider",
			"position": [27, 64],
			"gridImage": "/interface/scripted/applestorage/sliderGreen.png",
			"jogImages": {
				"baseImage": "/interface/scripted/applestorage/sliderJog.png",
				"hoverImage": "/interface/scripted/applestorage/sliderJog.png",
				"pressedImage": "/interface/scripted/applestorage/sliderJog.png",
				"disabledImage": "/assetmissing.png"
			},
			"showSpinner": false,
			"callback": "editGreen",
			"visible": false
		},
		"editGreen_image": {
			"type": "image",
			"file": "/interface/scripted/applestorage/sliderBorder.png",
			"position": [23, 64],
			"zlevel": -1,
			"visible": false
		},
		"editGreen_image_end": {
			"type": "image",
			"file": "/interface/scripted/applestorage/sliderGreenEnd.png",
			"position": [23, 64],
			"zlevel": -1,
			"visible": false
		},
		"editBlue": {
			"type": "slider",
			"position": [27, 54],
			"gridImage": "/interface/scripted/applestorage/sliderBlue.png",
			"jogImages": {
				"baseImage": "/interface/scripted/applestorage/sliderJog.png",
				"hoverImage": "/interface/scripted/applestorage/sliderJog.png",
				"pressedImage": "/interface/scripted/applestorage/sliderJog.png",
				"disabledImage": "/assetmissing.png"
			},
			"showSpinner": false,
			"callback": "editBlue",
			"visible": false
		},
		"editBlue_image": {
			"type": "image",
			"file": "/interface/scripted/applestorage/sliderBorder.png",
			"position": [23, 54],
			"zlevel": -1,
			"visible": false
		},
		"editBlue_image_end": {
			"type": "image",
			"file": "/interface/scripted/applestorage/sliderBlueEnd.png",
			"position": [23, 54],
			"zlevel": -1,
			"visible": false
		},
		"editPassword": {
			"type": "textbox",
			"position": [27, 114],
			"hint": "None",
			"maxWidth": 52,
			"regex": ".{0,16}",
			"escapeKey": "close",
			"visible": false
		},
		"editPassword_label": {
			"type": "label",
			"value": "PASSWORD",
			"hAnchor": "mid",
			"position": [52, 123],
			"zlevel": -15,
			"visible": false
		},
		"editPassword_image": {
			"type": "image",
			"file": "/interface/scripted/applestorage/textbox.png",
			"position": [23, 114],
			"visible": false
		},
		"passwordHint": {
			"type": "label",
			"value": "Leave blank for none.",
			"color": "gray",
			"hAnchor": "mid",
			"fontSize": 5,
			"position": [52, 108],
			"zlevel": -15,
			"visible": false
		},
		"passwordWarningTitle": {
			"type": "label",
			"value": "WARNING",
			"color": "red",
			"hAnchor": "mid",
			"position": [52, 83],
			"zlevel": -15,
			"visible": false
		},
		"passwordWarningText": {
			"type": "label",
			"value": "If you forget your password, you\nwill ^red;NOT^reset; be able to recover the\ncontents of your bag.",
			"color": "gray",
			"hAnchor": "mid",
			"fontSize": 5,
			"position": [52, 65],
			"zlevel": -15,
			"visible": false
		},
		"passwordInput_label": {
			"type": "label",
			"value": "ENTER PASSWORD",
			"hAnchor": "mid",
			"position": [52, 123],
			"zlevel": -15,
			"visible": false
		},
		"passwordInput_image": {
			"type": "image",
			"file": "/interface/scripted/applestorage/textbox.png",
			"position": [23, 114],
			"visible": false
		},
		"passwordInput": {
			"type": "textbox",
			"position": [27, 114],
			"hint": "",
			"maxWidth": 53,
			"regex": ".{0,16}",
			"escapeKey": "close",
			"visible": false
		},
		"unlock": {
			"type": "button",
			"base": "/interface/button.png",
			"hover": "/interface/buttonhover.png",
			"press": "/interface/buttonhover.png",
			"caption": "Unlock",
			"position": [25, 26],
			"visible": false
		},
		"context": {
			"type": "label",
			"value": "25 SLOTS",
			"hAnchor": "mid",
			"position": [52, 140],
			"zlevel": -15
		},
		"bgShine": {
			"type": "image",
			"file": "/interface/scripted/applestorage/shine.png",
			"position": [0, 3],
			"zlevel": -10
		},
		"page": {
			"type": "label",
			"value": "1 / 1",
			"hAnchor": "mid",
			"fontSize": 7,
			"position": [52, 15],
			"zlevel": -15
		},
		"pageLeft": {
			"type": "button",
			"callback": "changePage",
			"base": "/interface/scripted/applestorage/arrow.png",
			"hover": "/interface/scripted/applestorage/arrow.png",
			"pressed": "/interface/scripted/applestorage/arrowActive.png",
			"pressedOffset": [0, -1],
			"position": [30, 13]
		},
		"pageRight": {
			"type": "button",
			"callback": "changePage",
			"base": "/interface/scripted/applestorage/arrow.png?flipx",
			"hover": "/interface/scripted/applestorage/arrow.png?flipx",
			"pressed": "/interface/scripted/applestorage/arrowActive.png?flipx",
			"pressedOffset": [0, -1],
			"position": [64, 13]
		},
		"settingsPage": {
			"type": "label",
			"value": "1 / 2",
			"hAnchor": "mid",
			"fontSize": 7,
			"position": [52, 15],
			"zlevel": -15,
			"visible": false
		},
		"settingsPageLeft": {
			"type": "button",
			"callback": "changeSettingsPage",
			"base": "/interface/scripted/applestorage/arrow.png",
			"hover": "/interface/scripted/applestorage/arrow.png",
			"pressed": "/interface/scripted/applestorage/arrowActive.png",
			"pressedOffset": [0, -1],
			"position": [30, 13],
			"visible": false
		},
		"settingsPageRight": {
			"type": "button",
			"callback": "changeSettingsPage",
			"base": "/interface/scripted/applestorage/arrow.png?flipx",
			"hover": "/interface/scripted/applestorage/arrow.png?flipx",
			"pressed": "/interface/scripted/applestorage/arrowActive.png?flipx",
			"pressedOffset": [0, -1],
			"position": [64, 13],
			"visible": false
		},
		"upgradeItemSlot_1": {
			"type": "itemslot",
			"callback": "upgradeLeftClickSlot",
			"rightClickCallback": "upgradeRightClickSlot",
			"position": [24, 81],
			"backingImage": "/interface/inventory/empty.png",
			"visible": false
		},
		"upgradeItemSlot_2": {
			"type": "itemslot",
			"callback": "upgradeLeftClickSlot",
			"rightClickCallback": "upgradeRightClickSlot",
			"position": [43, 81],
			"backingImage": "/interface/inventory/empty.png",
			"visible": false
		},
		"upgradeItemSlot_3": {
			"type": "itemslot",
			"callback": "upgradeLeftClickSlot",
			"rightClickCallback": "upgradeRightClickSlot",
			"position": [62, 81],
			"backingImage": "/interface/inventory/empty.png",
			"visible": false
		},
		"upgradeDisplaySlot_1": {
			"type": "itemslot",
			"callback": "null",
			"rightClickCallback": "null",
			"position": [24, 102],
			"showRarity": false,
			"showBackingImageWhenFull": false,
			"showBackingImageWhenEmpty": false,
			"backingImage": "/interface/inventory/empty.png",
			"visible": false
		},
		"upgradeDisplaySlot_2": {
			"type": "itemslot",
			"callback": "null",
			"rightClickCallback": "null",
			"position": [43, 102],
			"showRarity": false,
			"showBackingImageWhenFull": false,
			"showBackingImageWhenEmpty": false,
			"backingImage": "/interface/inventory/empty.png",
			"visible": false
		},
		"upgradeDisplaySlot_3": {
			"type": "itemslot",
			"callback": "null",
			"rightClickCallback": "null",
			"position": [62, 102],
			"showRarity": false,
			"showBackingImageWhenFull": false,
			"showBackingImageWhenEmpty": false,
			"backingImage": "/interface/inventory/empty.png",
			"visible": false
		},
		"upgradeButton": {
			"type": "button",
			"base": "/interface/scripted/applestorage/upgradeButton.png",
			"disabledImage": "/interface/scripted/applestorage/upgradeButtonDisabled.png",
			"position": [24, 58],
      "pressedOffset" : [0, -1],
			"zlevel": -11,
			"callback": "upgrade",
			"visible": false
		},
		"upgradeText_1": {
			"type": "label",
			"value": "^red;5",
			"color": "white",
			"hAnchor": "right",
			"position": [44, 101],
			"visible": false
		},
		"upgradeText_2": {
			"type": "label",
			"value": "^red;10",
			"color": "white",
			"hAnchor": "right",
			"position": [63, 101],
			"visible": false
		},
		"upgradeText_3": {
			"type": "label",
			"value": "^red;15",
			"color": "white",
			"hAnchor": "right",
			"position": [82, 101],
			"visible": false
		},
		"itemSlot_1_1": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [5, 119],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_1_2": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [24, 119],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_1_3": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [43, 119],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_1_4": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [62, 119],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_1_5": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [81, 119],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_2_1": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [5, 100],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_2_2": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [24, 100],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_2_3": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [43, 100],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_2_4": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [62, 100],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_2_5": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [81, 100],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_3_1": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [5, 81],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_3_2": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [24, 81],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_3_3": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [43, 81],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_3_4": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [62, 81],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_3_5": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [81, 81],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_4_1": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [5, 62],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_4_2": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [24, 62],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_4_3": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [43, 62],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_4_4": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [62, 62],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_4_5": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [81, 62],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_5_1": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [5, 43],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_5_2": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [24, 43],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_5_3": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [43, 43],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_5_4": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [62, 43],
			"backingImage": "/interface/inventory/empty.png"
		},
		"itemSlot_5_5": {
			"type": "itemslot",
			"callback": "leftClickSlot",
			"rightClickCallback": "rightClickSlot",
			"position": [81, 43],
			"backingImage": "/interface/inventory/empty.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/x.png",
			"hover": "/interface/xhover.png",
			"pressed": "/interface/xpress.png",
			"pressedOffset": [0, 0],
			"position": [89, 156]
		},
		"data": {
			"type": "label",
			"position": [0, 0],
			"data": "",
			"value": "## NOT FOR DISPLAY ##",
			"visible": false,
			"mouseTransparent": true
		}
	},

	"scriptWidgetCallbacks": [
		"none",
		"changeTab",
		"changePage",
		"changeSettingsPage",
		"editTitle",
		"editSubtitle",
		"editRedText",
		"editGreenText",
		"editBlueText",
		"editRed",
		"editGreen",
		"editBlue",
		"editPassword",
		"passwordInput",
		"unlock",
		"leftClickSlot",
		"rightClickSlot",
		"upgradeLeftClickSlot",
		"upgradeRightClickSlot",
		"upgrade"
	],

	"scripts": ["/interface/scripted/applestorage/applestorage.lua"],
	"scriptDelta": 1
}
